<div class="container">
    <div>
        <img id="about-img" src="images/couple.jpg">
    </div>
    <div id="about-section">
        <h1 id="about-title">A lil about me...</h1><br>
        <p id="about-text">
            Hi, I'm Roshnee<br>
            <br>
            I'm an Orlando based Full Stack Web Developer. My passion for technology
            started in high school when I joined the Media Techology career track. I took classes in Graphic 
            Design and Web Development. For a few years I worked in the Wireless Industry doing Sales and 
            Operations. I decided to take a career change which brought me back to Web Development. I
            graduated in June 2018 from the UCF Coding Bootcamp. <br>
            <br>
            I enjoy spending my time learning everything I can about web devlopment. When I'm not coding I enjoy 
            spending time with my husband and 4 year old pitbull/boxer. <br>
            <br>
            Currently I am looking for a position as a Web Developer in the Orlando area. I can't wait to meet you all!
        </p>   
    </div>
    <div id="ucf">
        <a href="https://credly.com/credit/c0cdcde68?custom_assertion=0" target="_blank">
            <img id="credential" src="images/ucf.png">
        </a>
    </div>
</div>