<!--Div with image-->
<div class="hero">
    <div id="mac-img" class="hero-body">
        <div id="img-text">
             <h1 class="title is-1 myname">Roshnee Acevedo</h1>
            <h2 class="subtitle is-5 myname">Full Stack Web Developer</h2>
        </div>   
    </div>
</div>

<!--Arrow-->
<div class="arrow-down"></div>

<!--Portfolio Grid-->
<section class="section">
    <div class="container">
        <div class="columns is-mobile grid">
            <div class="column is-one-third">
                <div class="box">
                    <img src="images/placeholder.png">
                    <a class="subtitle" href="#">
                        <p class="project-links">Project</p>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <img src="images/placeholder.png">
                    <a class="subtitle" href="#">
                        <p class="project-links">Project</p>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <img src="images/placeholder.png">
                    <a class="subtitle" href="#">
                        <p class="project-links">Project</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
