/* Imported Font */
@font-face {
    font-family: 'zrnicregular';
    src: url('/Fonts/zrnic_rg-webfont.woff2') format('woff2'),
         url('/Fonts/zrnic_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Navbar */
#navbar {
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .1);
}

.navbar-item:hover {
    color: #777777;
}

/* Main page css */
#mac-img {
    background-image: url("../images/macbg.jpg");
    background-size: cover;
    height: 650px;
    background-repeat: no-repeat;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .5);
}

.imgText {
    font-family: 'zrnicregular'; 
    margin-top: 200px;
    margin-left: 200px;
}

#myName {
    color: #7BA4A8;
    font-size: 85px;
}

.arrow-down {
    width: 100%;
    height: 300px;
    background-color: #7BA4A8;
    padding: 80px;
}

.arrow-down:after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 150px solid #7BA4A8;
    border-left: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-right: 150px solid transparent;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -150px;
    position: absolute;
    z-index: -1;
}

#code-img {
    height: 200px;
    margin-left: 40%;
}

#title-for-skills {
    font-family: 'zrnicregular'; 
    color: black;
    text-align: center;
}

.skills {
    font-family: 'zrnicregular'; 
    color: black;
    text-align: center;
    font-size: 25px;
}

.grid {
    margin-top: 100px;
}

.portfolio-box {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

.portfolio-box:hover {
    transform: scale(1.2);
}

.button {
    margin-left: 15%;
}

.tech-used {
    text-align: center;
    margin-top: 10px;
}

/* About Page */
#about-img {
    width: 40%;
    margin-right: 50px;
    border: 1px solid #777777;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    float: left;
}

#about-title {
    font-family: 'zrnicregular';
    font-weight: bold;
    font-size: 50px;
    margin-top: 30px;
}

#ucf {
    float: right;
}

#credential:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    box-shadow: 2px 0px 10px rgba(0, 0, 0, .5);
}

.clearfix {
    clear: both;
}

#github-img,
#linkedin-img,
#mail-img {
    height: 40px;
    margin-top: 10px;
}

/* Media Queries */
@media screen and (max-width: 768px){
    /* Main page */
    #mac-img {
        height: 400px;
    }

    .imgText{
        text-align: center;
        margin-left: 0px;
        margin-top: 100px;
    }

    #myName {
        font-size: 40px;
    }

    #code-img {
        height: 100px;
        margin-left: 35%;
    }

    .arrow-down {
        height: 300px;
        padding: 10px;
    }

    .arrow-down:after {
        visibility: hidden;
    }

    .lists {
        float: left;
        margin-left: 30px;
    }

    .skills {
        font-size: 16px;
    }

    .grid {
        margin-top: 10px;
    }

    .portfolio-box {
        width: 100%;
    }

    .portfolio-box:hover {
        transform: scale(1);
    }

    .button {
        margin-left: 0px;
    }

    /* About Page */
    #about-img {
        width: 90%;
        margin: 15px 15px;
        float: none;
    }

    #about-title {
        margin-top: 10px;
        text-align: center;
    }

    #about-text {
        padding: 10px;
    }

    #ucf {
        float: none;
        margin-left: 50px;
    }
}

@media screen and (max-width: 1024px){
    .imgText{
        text-align: center;
        margin-left: 0px;
        margin-top: 200px;
    }

    #code-img {
        height: 100px;
        margin-left: 10%;
    }

    .grid {
        margin-top: 10px;
    }

    .portfolio-box {
        width: 100%;
    }

    .button {
        align-content: center;
    }

    /* About Page */
    #about-img {
        width: 50%;
        margin: 15px 15px;
    }

    #about-text {
        padding: 10px;
    }

    #ucf {
        float: none;
        margin-left: 35%;
    }

}